# Mac
.DS_Store

*.o
*.bin
*~

bin/**
src/generate_make.sh
gamer
GAMER_CompareData
GAMER_ExtractUniform
GAMER_ExtractProfile
.vscode
src/Makefile
src/Makefile.log
src/.local_settings

# Regression test
regression_test/run/**
regression_test/references/cloud/**
regression_test/references/local/**

# Python
__pycache__
